@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,700&display=swap');
:root {
    --color-background: white;
    --color-secondary: #F472B6;
    --color-text: black;
}

html {
    background-image: linear-gradient(to top, lightgreen, green);
    padding: 1rem;
    height: 100%;
}

body {
    background-color: var(--color-background);
    height: auto;
    text-align: center;
    border-radius: 20px;
}

h1 {
    color: var(--color-text);
    text-transform: uppercase;
}