@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --color-background: white;
    --color-secondary: #F472B6;
    --color-text: black;
}

html {
    background-color: whitesmoke;
    padding: 1rem;
    height: 100%;
}

body {
    height: auto;
    text-align: center;
    border-radius: 20px;
}

.Name {
    color: var(--color-text);
    text-transform: uppercase;
}